openapi: 3.0.0
info:
  title: パートナーAPI
  description: 株式会社Leafeaが提供するパートナーAPIについての仕様書です。
  version: 1.0.0
servers:
  - url: https://partner.fukuri-app.jp/api/v1/partners
    description: 本番環境
  - url: https://partner.fukuri-app.jp/api/v1/partners
    description: 検証環境

paths:
  /clients:
    post:
      summary: 企業作成
      operationId: createClient
      tags:
        - 企業管理API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: 企業登録が成功しました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultObject'
        '400':
          description: すでに同じ企業IDが登録されています。
        '401':
          description: Unauthorized
        '500':
          description: サーバーでエラーが発生しました。

  /clients/{external_client_id}:
    delete:
      summary: 企業削除
      operationId: deleteClient
      tags:
        - 企業管理API
      parameters:
        - in: path
          name: external_client_id
          required: true
          schema:
            type: string
          description: 連携先企業のID
      responses:
        '200':
          description: 企業の削除処理が成功しました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultObject'
        '400':
          description: 企業コードを送信してください。
        '401':
          description: Unauthorized
        '404':
          description: 該当の企業が存在しません。
        '500':
          description: サーバーでエラーが発生しました。

  /users:
    post:
      summary: 従業員追加
      operationId: addUser
      tags:
        - 従業員管理API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: 従業員登録が成功しました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultObject'
        '400':
          description: すでにメールアドレスが登録されています。
        '401':
          description: Unauthorized
        '404':
          description: 該当する企業が見つかりません。
        '500':
          description: サーバーでエラーが発生しました。

  /users/{external_employee_id}:
    put:
      summary: 従業員更新
      operationId: updateUser
      tags:
        - 従業員管理API
      parameters:
        - in: path
          name: external_employee_id
          required: true
          schema:
            type: string
          description: 連携先企業の従業員ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: 更新が成功しました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultObject'
        '401':
          description: Unauthorized
        '404':
          description: ユーザーが存在しません。
        '500':
          description: サーバーでエラーが発生しました。

    delete:
      summary: 従業員削除
      operationId: deleteUser
      tags:
        - 従業員管理API
      parameters:
        - in: path
          name: external_employee_id
          required: true
          schema:
            type: string
          description: 連携先企業の従業員ID
      responses:
        '200':
          description: 従業員の退会処理が成功しました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultObject'
        '401':
          description: Unauthorized
        '404':
          description: ユーザーが存在しません。
        '500':
          description: サーバーでエラーが発生しました。

components:
  schemas:
    Client:
      type: object
      properties:
        name:
          type: string
          description: 会社名
        plan:
          type: integer
          description: プラン番号
        external_client_id:
          type: string
          description: 連携先企業のID

    User:
      type: object
      properties:
        external_client_id:
          type: string
          description: 連携先企業のID
        full_name:
          type: string
          description: 従業員名
        business_email:
          type: string
          description: 従業員のメールアドレス

    ResultObject:
      type: object
      properties:
        result-status:
          type: integer
          example: 200
        message:
          type: string
          example: 成功または失敗の詳細メッセージ
        result-object:
          type: object
          properties:
            id:
              type: string
              description: 処理成功時のID
              example: "1234567890"
